@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=League+Spartan:wght@500;700&display=swap');

#root {
  /*APP SETTINGS*/
  font-family: 'Josefin Sans', sans-serif;
  // 1. Colors
  // 1.1 Primary
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  // 1.2 Neutral
  // 1.2.1 Light Theme
  //--very-light-gray: hsl(0, 0%, 98%);
  //--very-light-grayish-blue: hsl(236, 33%, 92%);
  //--light-grayish-blue: hsl(233, 11%, 84%);
  //--dark-grayish-blue: hsl(236, 9%, 61%);
  //--very-dark-grayish-blue: hsl(235, 19%, 35%);
  // 1.2.2 Dark Theme
  //--very-dark-blue: hsl(235, 21%, 11%);
  //--very-dark-desaturated-blue: hsl(235, 24%, 19%);
  //--light-grayish-blue: hsl(234, 39%, 85%);
  //--light-grayish-blue: hsl(236, 33%, 92%); // (hover)
  //--dark-grayish-blue: hsl(234, 11%, 52%);
  //--very-dark-grayish-blue: hsl(233, 14%, 35%);
  //--very-dark-grayish-blue: hsl(237, 14%, 26%)

  // Dimensions
  // Desktop layout
  --app-width: 1440px;
  --banner-height: 300px;
  --header-height: 158px;
  --header-top-margin: 75px;
  --card-container-height: calc(var(--card-height) * 6);
  --card-container-gap: 22px;
  --card-filter-height: 50px;
  --card-width: 542px;
  --card-height: 65px;
  --card-left-pad: 74px;
  --checkbox-size: 25px;
  --filter-height: 52px;
  --help-gap: 50px;
  --card-border-radius: 6px;
  --base-font-size: 16px;
  --header-font-size: 2.5rem;
  --app-background-image: var(--background-image-desktop);

  // Mobile layout
  @media only screen and (max-width: 767px) {
    --app-width: 375px;
    --banner-height: 200px;
    --header-height: 108px;
    --header-top-margin: 42px;
    --card-container-gap: 16px;
    --card-width: 330px;
    --card-height: 54px;
    --checkbox-size: 22px;
    --filter-height: 50px;
    --help-gap: 25px;
    --base-font-size: 12px;
    --header-font-size: 1.8rem;
    --app-background-image: var(--background-image-mobile);
  }
}

body {
  // Common colors
  --gray-text-color: var(--light-grayish-blue);
  --gray2-text-color: var(--dark-grayish-blue);
  --header-text-color: var(--very-light-gray);
}

body[data-theme='light-theme'] {
  // 1.2.1 Light Theme
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);
  // styles
  --app-backgrpund-color: var(--very-light-gray);
  --background-image-desktop: url("/public/images/bg-desktop-light.jpg");
  --background-image-mobile: url("/public/images/bg-mobile-light.jpg");
  --list-background-color: var(--very-light-grayish-blue);
  --card-backgrpund-color: hsl(0, 0%, 100%);
  --borders-color: var(--light-grayish-blue);
  --border-shadow: rgba(91, 164, 164, 0.15);
  --borders-color-inactive: var(--very-light-grayish-blue);
  --base-text-color: var(--very-dark-grayish-blue);
  --gray-text-color: var(--light-grayish-blue);
  --gray2-text-color: var(--dark-grayish-blue);
  --link-text-hover: var(--very-dark-grayish-blue);
}

body[data-theme='dark-theme'] {
  // 1.2.2 Dark Theme
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue--bg: hsl(227, 17%, 16%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  // styles
  --app-backgrpund-color: var(--very-dark-blue);
  --background-image-desktop: url("/public/images/bg-desktop-dark.jpg");
  --background-image-mobile: url("/public/images/bg-mobile-dark.jpg");
  --list-background-color: var(--very-dark-grayish-blue--bg);
  --card-backgrpund-color: var(--very-dark-desaturated-blue);
  --borders-color: var(--very-dark-grayish-blue);
  --border-shadow: var(--very-dark-blue);
  --borders-color-inactive: var(--very-dark-grayish-blue--bg);
  --base-text-color: var(--very-light-grayish-blue);
  --link-text-hover: var(--light-grayish-blue);
}

body {
  background-color: var(--app-backgrpund-color);
}

.App {
  position: absolute;
  top: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  width: var(--app-width);
  height: 100vh;
  min-height: calc(100vh - var(--banner-height));
  //padding-bottom: 30px;
  //padding-top: var(--filter-top-margin);
  background-color: var(--app-backgrpund-color);
  color: var(--base-text-color);
  font-size: var(--base-font-size);
  &Banner {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: var(--banner-height);
    background-image: var(--app-background-image);
    background-repeat: no-repeat;
  }
}


.TodoList {
  width: var(--card-width);
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: var(--card-gap);
  margin: 0 auto;
  &-Header {
    height: var(--header-height);
    width: 100%;
    & > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: var(--header-top-margin);
      color: var(--header-text-color);
    }
    & h1 {
      font-size: var(--header-font-size);
      letter-spacing: 1rem;
    }
    & img {
      cursor: pointer;
      @media only screen and (max-width: 767px) {
        width: var(--checkbox-size);
        height: var(--checkbox-size);
      }
    }
  }
  &-Container {
    height: var(--card-container-height);
    border-radius: var(--card-border-radius);
    box-shadow: 2px 10px 20px var(--border-shadow);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1px;
    background-color: var(--list-background-color);
    overflow-y: auto;
    &-MainList {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin-top: var(--card-container-gap);
    }
    &-New {
      height: var(--card-height);
    }
    &-Filter {
      height: var(--card-filter-height);
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: 1px solid var(--borders-color);
    }
    &-FilterIsle {
      margin-top: var(--card-container-gap);
      height: var(--card-filter-height);
      background-color: var(--card-backgrpund-color);
      & div {
        margin: 0 auto;
      }
    }
  }
}


.TodoCard {
  width: 100%;
  position: relative;
  height: var(--card-height);
  margin: 0;
  padding: 0;
  background-color: var(--card-backgrpund-color);
  border-bottom: 1px solid var(--borders-color);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: grab;
  &:last-of-type {
    border-bottom: none;
  }
  &-Check {
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    margin: auto var(--checkbox-size);
    border-radius: 100%;
    border: 1px solid var(--borders-color);
    cursor: pointer;
    &:hover {
      border: 1px solid var(--dark-grayish-blue);
    }
    &:disabled + label {
      cursor: default;
      border-color: var(--borders-color-inactive);
    }
    &:checked + label {
      background: top 7px left 6px / 50% no-repeat  url("/public/images/icon-check.svg"), var(--check-background);
    }
    &:checked ~ div {
      color: var(--gray-text-color);
      text-decoration: line-through;
    }
    //input #{$c} {
    &-hide {
      display: none;
    }
  }
  &-Text {
    cursor: pointer;
  }
  &-TextEditor {
    width: 75%;
    color: var(--base-text-color);
    background-color: var(--card-backgrpund-color);
    border: none;
    outline: none;
    //outline-color: var(--borders-color);
    &:focus {
      border: 1px solid var(--borders-color);
    }
    &::placeholder {
      color: var(--gray-text-color);
    }
  }
  &-Delete {
    width: calc(var(--checkbox-size) - 5px);
    height: calc(var(--checkbox-size) - 5px);
    position: absolute;
    top: calc((var(--card-height) - var(--checkbox-size) + 5px) / 2);
    right: var(--checkbox-size);
    cursor: pointer;
    visibility: hidden;
    @media only screen and (max-width: 767px) {
      width: calc(var(--checkbox-size) - 10px);
      height: calc(var(--checkbox-size) - 10px);
      top: calc((var(--card-height) - var(--checkbox-size) + 10px) / 2);
      visibility: visible;
    }
  }
  &:hover &-Delete {
    visibility: visible;
  }
}


.Filter {
  height: 100%;
  padding: 0 25px;
  background-color: var(--card-backgrpund-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--gray2-text-color);
  &-Options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & label {
      padding: 0 6px;
      cursor: pointer;
    }
    & label:hover {
      color: var(--link-text-hover);
    }
    & input:checked + label {
      color: var(--bright-blue);
      cursor: default;
    }
    & input {
      display: none;
    }
  }
  &-ClearCompleted {
    cursor: pointer;
    &:hover {
      color: var(--link-text-hover);
    }
  }
}


.Help {
  color: var(--gray2-text-color);
  margin: 0 auto;
  padding-top: var(--help-gap);
}


.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  color: var(--gray-text-color);
  & a {
    color: var(--gray-text-color);
  }
}
